<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> AGD </title>
</head>
<body>
	<h1 style="text-align: center;"> Detecting Age & Gender.... </h1>
	<div style="justify-content: center; display: flex; margin-top: 60px;">
	<img src="{{ url_for('video')}}">
	<br><br>
	<br><br>
	<a href="{{ url_for('user') }}" style="position:absolute; bottom:100px; center:150px"> View Details </a>
</body>
</html>


